/* Buttons.css */

/* Базовый стиль для всех кнопок */
.btn {
    border: none;
    cursor: pointer;
    font-family: var(--font-main);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accentum);
    color: #FFFFFF; 
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .btn:active {
    filter: grayscale(100%);
  }
  
  .btn-primary {
    width: 100%; 
    height: 58px;
    border-radius: var(--radius-btn);
    font-size: 24px; 
    font-weight: 400;
  }
  
  /* --- Кнопка с иконкой (50x50) --- */
  .btn-icon {
    width: 50px;
    height: 50px;
    border-radius: var(--radius-btn);
    padding: 0;
  }
  
  .btn-icon svg {
    width: 24px;
    height: 24px;
    stroke-width: 2px;
  }