.input-wrapper {
    width: 100%;
    position: relative;
  }
  
  .custom-input {
    width: 100%;
    height: 58px; 
    border-radius: var(--radius-btn);
    border: 1px solid var(--color-stroke); 
    padding: 0 20px;
    font-family: var(--font-main);
    font-size: 18px; 
    color: var(--color-text);
    background-color: #FFFFFF;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .custom-input::placeholder {
    color: var(--color-text-gray); 
    opacity: 1;
  }
  
  .custom-input:focus {
    border-color: var(--color-accentum); 
  }