.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 20px 0;
  gap: 24px;
}

.header-island {
  height: 50px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-stroke);
  border-radius: 10px;
  line-height: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

/* Левый остров с профилем */
.left-island {
  gap: 8px;
  padding-right: 10px; /* Для кнопки выхода, если шо */
}

.db-logo-box, .avatar-box {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-bg, #F3F4F6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.db-logo-img, .avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.profile-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile-role {
  font-size: 11px;
  color: var(--color-text-gray, #6B7280);
}


/* Навигация */

/* Поворошить головой, чтобы сделать это ещё и адаптивным */

.center-island {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Всегда строго по центру экрана */
  display: flex;
  gap: 5px;
}

.nav-item {
  padding: 0 10px;
  height: 100%;
  border-radius: 10px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-gray);
  transition: all 0.2s ease;
}

.nav-item:hover:not(.active) {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.nav-item.active {
  background-color: var(--color-accentum);
  color: var(--color-bg);
  box-shadow: inset 0px 3px 7px 0px #06051D; 

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Остров с проектами */
.right-island {
  position: relative;
  padding-left: 6px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-selector {
  padding: 5px;
  min-width: 220px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  cursor: pointer;
  height: 100%;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.project-selector:hover {
  background-color: rgba(0, 0, 0, 0.1)
}

.project-icon-box {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.project-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-label {
  font-size: 10px;
  color: var(--color-text-gray, #6B7280);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.project-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text);
}

/* Выпадающее меню проектов (Dropdown) */
.project-dropdown {
  position: absolute;
  top: 60px;
  right: 100px;
  background: var(--color-bg);
  border: 1px solid var(--color-stroke, #E5E7EB);
  border-radius: 10px;
  padding: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid var(--color-stroke);
}

.dropdown-item:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1)
}

.dropdown-item.active {
  background-color: rgba(0, 0, 0, 0.2)
}

.dropdown-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.dropdown-text {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text, #111827);
}